{% extends 'home.html' %}

{% block content%}
<h1>회원수정</h1>
<form method="POST">
    {% csrf_token %}
    <div class="form-group">
        이름 <input type="text" class="form-control" name="my_name" value='{{authors.name}}'>
    </div>
    <div class="form-group">
        eamil <input type="text" class="form-control" name="my_email" value='{{authors.email}}'>
    </div>
    <div class="form-group">
        password <input type="text" class="form-control" name="my_password" value='{{authors.password}}'>
    </div>
    <input type="submit" value="수정하기" class="btn btn-primary">
    <a href="/authors/{{authors.id}}" class="btn btn-secondary">수정취소</a>
</form>
{% endblock %}


<!-- handle -->